@model Web_Proje.Models.Post

<h2>@dil.Post.Sil</h2>

<h3>@dil.Post.Silmek</h3>
<div>
    <h4>Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostSubHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostSubHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            <a class="post-img">
                <img width="300px" height="300px" src="~/img/@Html.DisplayFor(model => model.Img)" />
            </a>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@dil.Post.Sil" class="btn btn-default" /> |
            @Html.ActionLink(dil.Post.Lgd, "Index")
        </div>
    }
</div>
