@model Web_Proje.Models.Post

<h2>@dil.Post.Ayrintilar</h2>

<div>
    <h4>@dil.Post.Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostSubHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostSubHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            <a class="post-img">
                <img width="300px" height="300px" src="~/img/@Html.DisplayFor(model => model.Img)" />
            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(dil.Post.Duzenle, "Edit", new { id = Model.PostID }) |
    @Html.ActionLink(dil.Post.Lgd, "Index")
</p>
