@model IEnumerable<Web_Proje.Models.Post>

<h3>@dil.Post.Haberler</h3>

<p>
    @Html.ActionLink(dil.Post.YeniHaber, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostHead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostSubHead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostHead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostSubHead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            <a class="post-img">
                <img width="100px" height="100px" src="~/img/@Html.DisplayFor(modelItem => item.Img)" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink(dil.Post.Duzenle, "Edit", new { id = item.PostID }) |
            @Html.ActionLink(dil.Post.Ayrintilar, "Details", new { id = item.PostID }) |
            @Html.ActionLink(dil.Post.Sil, "Delete", new { id = item.PostID })
        </td>
    </tr>
}

</table>
