<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Header -->
    <header id="header">
        <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu nav navbar-nav">
                        <li>@Html.ActionLink("HABERLER", "Index", "Home")</li>
                        <li>@Html.ActionLink("Gündem", "Index", "Home")</li>
                        <li class="cat-1">@Html.ActionLink("Ekonomi", "Index", "Home")</li>
                        <li class="cat-2">@Html.ActionLink("Spor", "Index", "Home")</li>
                        <li class="cat-3">@Html.ActionLink("Siyaset", "Index", "Home")</li>
                        <li class="cat-4">@Html.ActionLink("Magazin", "Index", "Home")</li>
                    </ul>
                    <!-- /nav -->
                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="aside-btn"><i class="fa fa-bars"></i></button>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Main Nav -->
            <!-- Aside Nav -->
            <div id="nav-aside">
                <!-- nav -->
                <div class="section-row">
                    <ul class="nav-aside-menu">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Ekonomi", "Index", "Home")</li>
                        <li>@Html.ActionLink("Spor", "Index", "Home")</li>
                        <li>@Html.ActionLink("Siyaset", "Index", "Home")</li>
                        <li>@Html.ActionLink("Magazin", "Index", "Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <!-- /nav -->
                <!-- social links -->
                <div class="section-row">
                    <h3>Sosyal Medya</h3>
                    <ul class="nav-aside-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <!-- /social links -->
                <!-- aside nav close -->
                <button class="nav-aside-close"><i class="fa fa-times"></i></button>
                <!-- /aside nav close -->
            </div>
            <!-- Aside Nav -->
        </div>
        <!-- /Nav -->
    </header>
    <!-- /Header -->
    
    <div class="container body-content">
        @Html.Partial("_AdminPartial")
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-5">
                    <div class="footer-widget">
                        <ul class="footer-nav">
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Reklam</a></li>
                        </ul>
                        <div class="footer-copyright">
                            <span>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. | Bu site BURAK BAYRAM tarafından hazırlanmıştır.
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <div class="footer-widget">
                                <h3 class="footer-title">Kategoriler</h3>
                                <ul class="footer-links">
                                    <li>@Html.ActionLink("Ekonomi", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Spor", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Siyaset", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Magazin", "Index", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Sosyal Medya</h3>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /Footer -->
    <!-- jQuery Plugins -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
