@model IEnumerable<Web_Proje.Models.AspNetUserRoles>

@{
    ViewBag.Title = "Rol Tanımlama";
}

<h2>@dil.Post.RolTanimlama</h2>

<p>
    @Html.ActionLink(dil.Post.YeniRol, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @Html.ActionLink(dil.Post.Duzenle, "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink(dil.Post.Ayrintilar, "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink(dil.Post.Sil, "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
