@model IEnumerable<Web_Proje.Models.AspNetUsers>

<h2>@dil.Post.KullaniciListesi</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink(dil.Post.Duzenle, "Edit", new { id = item.Id }) |
                @Html.ActionLink(dil.Post.Ayrintilar, "Details", new { id = item.Id }) |
                @Html.ActionLink(dil.Post.Sil, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
